<%= form_with(model: maintenance_shop_list, local: true) do |form| %>
  <% if maintenance_shop_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance_shop_list.errors.count, "error") %> prohibited this maintenance_shop_list from being saved:</h2>

      <ul>
        <% maintenance_shop_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :OilTypes %>
    <%= form.text_field :OilTypes %>
  </div>

  <div class="field">
    <%= form.label :CustomerRepairs %>
    <%= form.check_box :CustomerRepairs %>
  </div>

  <div class="field">
    <%= form.label :Garages %>
    <%= form.number_field :Garages %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
